body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(253, 252, 252);
}
h1, h2, h3, h4, h5, h6, p{
    font-family:'Courier New', Courier, monospace;
}
a{
    font-family: 'Courier New', Courier, monospace;
}
.CSFont{
    font-family: 'Courier New', Courier, monospace !important;
}
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  text-decoration: none;
}
