body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.499);
}
h1, h2, h3, h4, h5, h6, p{
    font-family:'Courier New', Courier, monospace;
}
a{
    font-family: 'Courier New', Courier, monospace;
}
.CSFont{
    font-family: 'Courier New', Courier, monospace !important;
}